
    .animated-text {
      background: linear-gradient(270deg, #7e22ce, #db2777, #f59e0b, #10b981);
      background-size: 800% 800%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradientMove 6s ease infinite;
      font-family: 'Poppins', sans-serif;
    }
    @keyframes gradientMove {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
  